video{
    position:absolute;
width: 1900px;
height: 100px;
right: 0;
left: 0;

  }
  body{
    background-image: url(https://images.unsplash.com/photo-1614162698829-831e2a7ca28c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
  background-size: cover;
  font-family:'Montserrat', sans-serif; 


}  
  header{
    text-align: center;
    font-size: xx-large;
    font-weight: 500;
    text-decoration:dashed;
    text-decoration: underline;
  }
  footer{
    text-align: center;
    text-decoration: solid;
    text-decoration: #fff;
  text-decoration: underline; 
  }
.img{
    float: left;
    height: 180px;
    width: 180px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 100%;
}
.text{
    border: solid #677867 5px;
    font-size: x-large;
    font-weight: 400;
  font-style: normal color #fff;
}